.root{
  width: 100%;
  margin-left: 80rpx;
  margin-top: 70rpx;
  .item{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40rpx;
    input {
      width: 425rpx;
      border-bottom: 1px solid gray;
      padding: 15rpx;
    }
  }
  .btn{
    position: relative;
    left: 7%;
    margin: 50rpx;
    background: #92c47d;
    color: white;
    border-radius: 60rpx;
  }
}
